{% extends 'core/base.html' %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">О нашей вело-команде</h1>

<p class="mb-4">
    Наша команда объединяет любителей велоспорта. Мы устраиваем регулярные выезды, участвуем в соревнованиях и помогаем друг другу улучшать навыки.
</p>

<p>
    На сайте ты можешь:
    <ul class="list-disc ml-6">
        <li>Смотреть и покупать велосипеды в нашем маркетплейсе</li>
        <li>Следить за предстоящими выездами и событиями</li>
        <li>Голосовать и оставлять комментарии к событиям</li>
    </ul>
</p>
{% endblock %}
